.images{
    /* border: solid black; */
    justify-content: space-evenly;
    display: flex;
    margin-top: 10px;
    max-width: 70%; 
    max-height: 70%;
    margin-left: 20%;
    

}
.image1 img, .image2 img{
    width: 70%;
    height: auto; 
}
/* img{
    max-width: 70%;
    max-height: 70%;
    justify-content: center;
    display: flex;
} */
#harvard-link{
    /* border: solid black; */
    height: auto;
    width: 70vh;
    /* padding: 0; */
    /* margin: 0; */
}
.logo img{
    /* border: solid pink; */
    width:50%;
}
.AdTxt{
    /* border: solid black; */
    justify-content: right;
    margin-top: 5px;
    

}
.NavBar{
    /* border: solid black; */
    display:flex;
    padding:15px;
    justify-content:space-between;
    font-size: 20px; 
    font-family: Neutral Regular 3;
    color: #1b1a1a; 
    /* font-weight: lighter;  */
    font-stretch: condensed;
    text-underline-offset: black;
    /* border-bottom: black; */
    
    
}
.date{
    /* border: solid black; */

}
h1{
    font-size: 20px;
}